body {
    font-family: 'Open Sans', sans-serif;
}

.NG {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 42px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    width: 400px;
    padding: 24px 24px;
    border: 1px gray solid;
    text-align: center;
}

.result {
    font-size: 42px;
}

h2 {
    font-size: 52px;
}

h4 {
    display: inline-block;
    margin: 0;
    margin-left: 80px;
    margin-right: 76px;
}

input {
    height: 18px;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 110px;
    height: 30px;
    font-size: 18px;
    margin-top: 12px;
    position: relative;
    top: 5px;
}
